In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# Example data (10 records)
data = [
    (1, "Lokanya", "IT"),
    (2, "Gowrishankar", "CSE"),
    (3, "Arun", "ECE"),
    (4, "Priya", "IT"),
    (5, "Kumar", "EEE"),
    (6, "Meena", "CSE"),
    (7, "Ravi", "MECH"),
    (8, "Divya", "IT"),
    (9, "Suresh", "CIVIL"),
    (10, "Aarthi", "CSE")
]

# Define schema
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("department", StringType(), True)
])

# Create DataFrame
df = spark.createDataFrame(data, schema)

# Write as Delta Table
df.write.format("delta").mode("overwrite").save("/mnt/delta/employees")

# Register as SQL table
spark.sql("DROP TABLE IF EXISTS employees")
df.write.format("delta").mode("overwrite").save("/tmp/employees")

In [0]:
%sql
CREATE TABLE employees
USING DELTA
LOCATION '/tmp/employees';

In [0]:
%sql
INSERT INTO employees VALUES (11, "Karthik", "IT");
INSERT INTO employees VALUES (12, "Swathi", "CSE");

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
SELECT * FROM employees;

id,name,department
7,Ravi,MECH
8,Divya,IT
9,Suresh,CIVIL
10,Aarthi,CSE
1,Lokanya,IT
2,Gowrishankar,CSE
5,Kumar,EEE
6,Meena,CSE
3,Arun,ECE
4,Priya,IT
11,Karthik,IT
12,Swathi,CSE

In [0]:
%sql
INSERT INTO employees VALUES (13, "Madhu", "IT");
INSERT INTO employees VALUES (14, "Zayn", "IT");
SELECT * FROM employees;

id,name,department
7,Ravi,MECH
8,Divya,IT
9,Suresh,CIVIL
10,Aarthi,CSE
1,Lokanya,IT
2,Gowrishankar,CSE
5,Kumar,EEE
6,Meena,CSE
3,Arun,ECE
4,Priya,IT
11,Karthik,IT
12,Swathi,CSE
13,Madhu,IT
13,Madhu,IT
14,Zayn,IT
14,Zayn,IT

In [0]:
%sql
-- Delete employee from EEE department
DELETE FROM employees WHERE department = 'EEE';
SELECT * FROM employees;

id,name,department
7,Ravi,MECH
8,Divya,IT
9,Suresh,CIVIL
10,Aarthi,CSE
1,Lokanya,IT
2,Gowrishankar,CSE
6,Meena,CSE
3,Arun,ECE
4,Priya,IT
11,Karthik,IT
12,Swathi,CSE
13,Madhu,IT
13,Madhu,IT
14,Zayn,IT
14,Zayn,IT

In [0]:
%sql
-- Delete employee from EEE department
DELETE FROM employees WHERE department = 'IT';
SELECT * FROM employees;

id,name,department
2,Gowrishankar,CSE
3,Arun,ECE
6,Meena,CSE
7,Ravi,MECH
9,Suresh,CIVIL
10,Aarthi,CSE
12,Swathi,CSE

In [0]:
%sql
-- Update department of Ravi from MECH â†’ AI
UPDATE employees SET department = 'AI' WHERE name = 'Ravi';
SELECT * FROM employees;

id,name,department
2,Gowrishankar,CSE
3,Arun,ECE
6,Meena,CSE
9,Suresh,CIVIL
10,Aarthi,CSE
12,Swathi,CSE
7,Ravi,AI

In [0]:
%sql
-- 2. Count by department
SELECT department, COUNT(*) AS total FROM employees GROUP BY department;

department,total
ECE,1
CIVIL,1
CSE,4
AI,1

In [0]:
%sql
-- 3. Get employees from CSE department
SELECT * FROM employees WHERE department = 'CSE';

id,name,department
2,Gowrishankar,CSE
6,Meena,CSE
10,Aarthi,CSE
12,Swathi,CSE